body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a {
  color: aquamarine;
}

#downloadexcursion {
  font-size: 16px;
}

#excursion  {
  font-family: Verdana;
  color: gray;
  font-size: 21px;
}

#copyright {
  text-align: right;
  font-family: Verdana;
  color: gray;
  font-size: 21px;
}
